<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js/debug[/]?" />
        </rule>
        
        <rule name="StaticContent" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <!-- Assumes IIS Physical Path is pointing to the ROOT of the project, hence public files are in .output/public -->
          <action type="Rewrite" url=".output/public/{R:0}" />
        </rule>

        <rule name="DynamicContent">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin" />
        </hiddenSegments>
        <requestLimits maxAllowedContentLength="4294967295" />
      </requestFiltering>
    </security>

    <httpErrors existingResponse="PassThrough" />

    <iisnode
      watchedFiles="web.config;server.js;*.js;*.mjs"
      node_env="production"
      debuggingEnabled="false"
      loggingEnabled="true"
      devErrorsEnabled="false"
    />
  </system.webServer>

  <!-- Configure Environment Variables via appSettings -->
  <appSettings>
    <add key="DATABASE_URL" value="sqlserver://10.0.200.192:1433;database=db_work_calendar;user=sa;password=123456;trustServerCertificate=true;encrypt=false" />
    <add key="NUXT_SESSION_PASSWORD" value="y98d7cefef01d4b00a27a8390938580f5" />
    <add key="NUXT_SESSION_SECRET" value="qMCYFxTcI9Njoy0bePVDvJWfmi6XQ8Rw" />
    <add key="SECRET_KEY" value="qMCYFxTcI9Njoy0bePVDvJWfmi6XQ8Rw" />

    <add key="DB_SERVER" value="10.0.200.192" />
    <add key="DB_PORT" value="1433" />
    <add key="DB_DATABASE" value="db_work_calendar" />
    <add key="DB_USER" value="sa" />
    <add key="DB_PASSWORD" value="123456" />
  </appSettings>
</configuration>
